[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
yapf = "*"
"autopep8" = "*"

[packages]
pytest = "==4.0.1"
flask = "*"
pytest-flask = "*"
sqlalchemy = "*"
pytest-docker = "*"
pyyaml = "*"
sqlalchemy-utils = "*"
"psycopg2" = "*"
docker-compose = "*"
pytest-fixture-tools = "*"
pymongo = "*"

[requires]
python_version = "3.7"
